# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

#python frontend
/frontend/__pycache__
/frontend/migrations

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

/.idea/

#tt_transfer django
/tt_transfer/__pycache__/

# map
/map/__pycache__
/map/migrations/__pycache__

# api __pycache__
/api/__pycache__/
/api/activityFeed/__pycache__/
/api/address/__pycache__/
/api/adminInterface/__pycache__/
/api/authentication/__pycache__/
/api/cars/__pycache__/
/api/drivers/__pycache__/
/api/orders/__pycache__/
/api/profile/__pycache__/
/api/smartFilter/__pycache__/
/api/tariffs/__pycache__/

#api migrations
# api/activityFeed/migrations/*
# api/address/migrations/*
# api/authentication/migrations/*
# api/cars/migrations/*
# api/drivers/migrations/*
# api/orders/migrations/*
# api/profile/migrations/*
# api/tariffs/migrations/*

api/activityFeed/migrations/__pycache__
api/address/migrations/__pycache__
api/authentication/migrations/__pycache__
api/adminInterface/migrations/__pycache__
api/cars/migrations/__pycache__
api/drivers/migrations/__pycache__
api/orders/migrations/__pycache__
api/profile/migrations/__pycache__
api/smartFilter/migrations/__pycache__
api/tariffs/migrations/__pycache__

#except
!api/activityFeed/migrations/__init__.py
!api/address/migrations/__init__.py
!api/adminInterface/migrations/__init__.py
!api/authentication/migrations/__init__.py
!api/cars/migrations/__init__.py
!api/drivers/migrations/__init__.py
!api/orders/migrations/__init__.py
!api/profile/migrations/__init__.py
!api/smartFilter/migrations/__init__.py
!api/tariffs/migrations/__init__.py

#virtualenv
/env
.env.bat

#source files
/source

/media/avatars/*
/media/documents/*
/media/news/*
/media/news/files/*
/media/news/images/*

!/media/avatars/
!/media/documents/
!/media/news/files/
!/media/news/images/
!/media/avatars/default_avatar.png
