# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

#python frontend
/frontend/__pycache__
/frontend/migrations

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

#tt_transfer django
/tt_transfer/__pycache__

# api __pycache__
/api/__pycache__
/api/activityFeed/__pycache__
/api/authentication/__pycache__
/api/cars/__pycache__
/api/manager/__pycache__

#api migrations
/api/activityFeed/migrations
/api/authentication/migrations
/api/cars/migrations
/api/manager/migrations

#virtualenv
/env

#source files
/source

