.input {
	height: 70px;
	width: 100%;
	background-color: #E8E8E8;
	border: none;
	outline: none;
	padding: 25px 23px;
	box-sizing: border-box;
	font-weight: 400;
	font-size: 16px;
	margin-top: 20px;
	display: block;
}