.table-component {
	width: 100%;
	margin-top: 25px;
	border-radius: 3px;
	outline: none;
	table-layout: fixed;
	border-collapse: collapse;
	min-width: 1000px;
	
	thead {
		background-color: #E8E8E8;
		height: 60px;
		
		td {
			text-align: center;
		}
		
	}
	
	tbody {
		tr {
			height: 67px;
			
			td:nth-child(1) {
				color: #337AB7;
				cursor: pointer;
			}
		}
		
		td {
			text-align: center;
			line-height: 17px;
		}
	}
}

.table-wrap {
	overflow: scroll;
	width: 100%;
}

.red {
	background-color: #DB5454;
}

.green {
	background-color: #8DC73F;
}
