.news-wrapper {
	background-color: #fff;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	margin-right: 20px;
	border-radius: 3px;
	flex: 1 1;
	overflow: scroll;
	margin-bottom: 50px;
	height: 87vh;
}